@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Product Page";
}

@functions {
    string GetProductColor(int id)
    {
        return id % 2 == 0 ? "blue" : "red";
    }

    string GetDiscountPrice(decimal price)
    {
		// esto quita el numero entero y deja solo los centavos
        int centavos = (int)((price - Math.Floor(price)) * 100);

        switch (centavos > 50)
        {
            case true:
				return "20% de descuento";
            default:
                return "10% de descuento";
        }
    }
}

<div class="text-center">
    @foreach (var product in Model)
    {
        <div class="product-item" style="color:@GetProductColor(product.Id)">
            <h2>@product.Id - @product.Name</h2>
            <p>Price: @product.Price.ToString("C")</p>
            <strong>(@GetDiscountPrice(product.Price))</strong>
        </div>
    }
</div>

<div class="text-center">

    @foreach (var product in Model)
    {
        <div class="product-item">
            <h2>@product.Id - @product.Name</h2>
            <p>Price: @product.Price.ToString("C")</p>
        </div>
    }

</div>
